<section class="section advertisement">
  <div class="container advertisement-container">
    <h2 class="visually-hidden">Advertisement</h2>
      <div class="wrap-text-part">
        <p class="advertisement-text">
          <span class="text-first-part">Discount up to 40%!</span>
        </p>
      </div>
      <p class="advertisement-text advertisement-bottom-text">
        <span class="text-part-taste">Taste</span> the vitamins and keep your
        health
      </p>
    </div>
  </div>
</section>
