<!-- header -->

<header class="header">
  <div class="container head">
    <div class="header-menu-wrap">
      <div class="logo-text-button">
        <div class="logo-wrap">
          <a class="header-logo-links" href="./index.html">
            <svg class="header-links-icons kub" width="16" height="16">
              <use href="/img/symbol-defs.svg#icon-logo-vector"></use>
            </svg>
            green.harvest
          </a>
        </div>

        <button
          type="button"
          id="menu-open-btn"
          aria-label="Menu open button"
          class="open-menu-btn js-open-menu"
        >
          <svg class="header-menu-icon">
            <use href="/img/symbol-defs.svg#menu-open-icon"></use>
          </svg>
        </button>
      </div>

      <nav class="header-navigation">
        <ul class="header-nav">
          <li class="header-nav-item header-nav-page">
            <a
              class="header-nav-link header-nav-page"
              href="#how-it-works-section"
              >How It Works</a
            >
          </li>
          <li class="header-nav-item two">
            <a class="header-nav-link" href="#vegetables-section">Vegetables</a>
          </li>
          <li class="header-nav-item tree">
            <a class="header-nav-link" href="#reviews-section">Reviews</a>
          </li>
        </ul>
        <div class="header-shop-wrap">
          <a href="#your-order-section" class="header-shop-button">
            Shop now
            <svg class="shop-basket" height="24" width="24">
              <use href="/img/basket-icon.svg#icon-basket-icon"></use>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
