<header class="header">
    <div class="logo-text-button container">
        <a href="/src/index.html" class="logo">
            <svg width="16" height="16" class="logo-icon">
                <use href="/img/symbol-defs.svg#icon-logo-vector"></use>
            </svg>
        </a>
        <a href="/src/index.html" class="logo">
            <svg width="16" height="16" class="logo-icon">
                <use href="/img/symbol-defs.svg#icon-greenharvest"></use>
            </svg>
        </a>
        <button type="button" class="open-menu-btn">
            <svg width="32" height="32">
                <use href="/src/img/symbol-defs.svg#mob-menu-mobile-icon"></use>
            </svg>
        </button>
    </div>
    <nav>
        <div class="navig">
            <ul class="nav">
                <li class="nav-item nav-page">
                    <a class="nav-link nav-page" href="./how-it-works.html">How It Works</a>
                </li>
                <li class="nav-item two">
                    <a class="nav-link" href="./vegetables.html">Vegetables</a>
                </li>
                <li class="nav-item tree">
                    <a class="nav-link" href="./rewiews.html">Reviews</a>
                </li>
            </ul>
            <button type="button" class="shop-button">Shop now</button>
        </div>
    </nav>
</header>
