<div class="back-menu is-open">
  <div class="modal-menu">
    <button class="menu-close modal-close" type="button">X
      <svg class="menu-close-icon close-icon" width="16" height="16">
        <use href="#"></use>
      </svg>
    </button>
    <ul class="menu-nav">
      <li class="menu-nav-item menu-nav-page">
        <a class="menu-nav-link menu-nav-page" href="">How It Works</a>
      </li>
      <li class="menu-nav-item two">
        <a class="menu-nav-link" href="">Vegetables</a>
      </li>
      <li class="menu-nav-item tree">
        <a class="menu-nav-link" href="">Reviews</a>
      </li>
    </ul>
    <button type="button" class="menu-button">Shop now</button>
    </div>
  </div>
</div>
