<div class="back-menu">
  <div class="modal-menu">
    <button class="menu-close" type="button">
      <svg class="menu-close-icon" width="32" height="32">
        <use href="../img/symbol-defs.svg#mob-menu-close-mobil-icon"></use>
      </svg>
    </button>
    <ul class="menu-nav">
      <li class="menu-nav-item  menu-nav-page">
        <a class="menu-nav-link menu-nav-page" href="./how-it-works.html">How It Works</a>
      </li>
      <li class="menu-nav-item two">
        <a class="menu-nav-link" href="./vegetables.html">Vegetables</a>
      </li>
      <li class="menu-nav-item tree">
        <a class="menu-nav-link" href="./rewiews.html">Reviews</a>
      </li>
    </ul>
    <button type="button" class="menu-button">Shop now</button>
    </div>
  </div>
</div>
