/*----advertisement---*/

.advertisement {
  background-color: #fbfbfb;
  padding: 80px 10px;
}

.text-first-part {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
  border-radius: 12px;
  width: 355px;
  background-color: #576f35;
  padding: 0 10px;
  display: block;
  margin: 0 10px 0 -10px;
}

.advertisement-text {
  width: 100%;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.05;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 16px;
  }

  .advertisement-text {
    min-width: 704px;
    font-size: 64px;
    line-height: 1.09;
  }

  .text-first-part {
    padding: 8px 16px;
    width: 736px;
    font-size: 64px;
    line-height: 1.09;
    margin: 0 16px 0 -16px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px 100px;
    display: block;
  }

  .advertisement-text {
    max-width: 1060px;
    font-size: 76px;
    line-height: 1.05;
    word-wrap: break-word;
  }

  .text-first-part {
    font-size: 76px;
    line-height: 1.05;
    word-wrap: break-word;
    display: inline;
    margin: 0;
    padding: 0 13px;
    margin: 0 13px 0 -13px;
  }
}
