.footer {
  background-color: #7a3145;
  padding: 40px 0px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-wrap {
  margin-bottom: 40px;
}

.footer-logo-wrap {
  display: flex;
  width: 168px;
  height: 16px;
  gap: 4px;
}

.footer-links-icons {
  display: flex;
  fill: #fbfbfb;
}

.footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28571;
  color: #fbfbfb;
  max-width: 296px;
  margin-top: 14px;
}

.footer-menu-link {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 14px;
  flex-grow: 1;
  min-width: 155px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  flex-grow: 1;
  margin-top: 54px;
  width: 215px;
  height: 68px;
}

.footer-contacts-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28571;
  max-width: 179px;
  color: #fbfbfb;
  letter-spacing: -0.01em;
  margin: auto 0;
}

.footer-privacy {
  min-width: 100%;
}

.footer-privacy-block {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.footer-privacy-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  width: auto;
  font-family: 'Inter Tight', sans-serif;
  color: rgba(251, 251, 251, 0.5);
}

/* tablet */

@media screen and (min-width: 768px) {
  .footer {
    margin-right: 0 auto;
    padding: 32px 0;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 704px;
    height: auto;
  }

  .footer-logo-wrap {
    align-items: center;
    display: flex;
    width: 194px;
    height: 18px;
    gap: 8px;
  }

  .logo-cub {
    width: 18px;
    height: 18px;
  }

  .logo-text {
    width: 168px;
    height: 15px;
  }

  .footer-text {
    max-width: 265px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #fbfbfb;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .footer-menu-section {
    width: 215px;
    height: 295px;
    margin-left: 224px;
  }

  .footer-menu-link {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    min-width: 177px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .footer-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    flex-grow: 1;
    margin-top: 64px;
  }

  .footer-contacts-item {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11111;
    max-width: 215px;
  }

  .footer-privacy {
    min-width: 704px;
  }

  .footer-privacy-block {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
  }

  .footer-privacy-item {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11111;
    color: rgba(251, 251, 251, 0.5);
    letter-spacing: -0.01em;
  }
}

/* desktop  */

@media screen and (min-width: 1280px) {
  .footer {
    margin-right: 0 auto;
    padding: 50px 100px;
  }

  .footer-container {
    min-width: 1080px;
    height: auto;
  }

  .footer-menu-section {
    display: flex;
    width: auto;
    height: auto;
  }

  .footer-menu-list {
    margin-left: 302px;
  }
  .footer-contacts-list {
    margin-left: 121px;
  }

  .footer-contacts-item {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11111;
    margin-left: 121px;
    min-width: 215px;
    height: 85px;
  }

  .footer-privacy {
    min-width: 1080px;
  }

  .footer-privacy-block {
    display: flex;
    margin-top: 125px;
    justify-content: space-between;
  }
}
