/* <!-- footer --> */

.footer {
  background-color: #7a3145;
  padding: 40px 0;
}

.foot-firsr-block {
  margin-bottom: 40px;
}

.footer-logo-links {
  display: flex;
  gap: 4px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
}

.footer-links-icons {
  fill: #fbfbfb;
}

.footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28571;
  color: #fbfbfb;
}

.footer-menu-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-menu-link {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-grow: 1;
  font-style: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28571;
  letter-spacing: -0.01em;
}

.footer-contacts-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28571;
  max-width: 215px;
  color: #fbfbfb;
  letter-spacing: -0.01em;
}

.footer-privacy {
  min-width: 100%;
}

.footer-privacy-block {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer-privacy-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  width: auto;
  color: rgba(251, 251, 251, 0.5);
}

.footer-slash {
  padding: 0 8px;
}

/* tablet */

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }

  .foot-wrap-tab {
    display: flex;
    justify-content: space-between;
  }

  .footer-links-icons.kub {
    width: 18px;
    height: 18px;
  }

  .footer-logo-links {
    font-size: 20px;
  }

  .footer-text {
    max-width: 265px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #fbfbfb;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .footer-menu-section {
    gap: 64px;
    margin-right: 20px;
  }
  .footer-menu-list {
    gap: 25px;
  }

  .footer-menu-link {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
  }

  .footer-contacts-list {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    gap: 25px;
  }

  .footer-contacts-item {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11111;
    max-width: 215px;
  }

  .footer-privacy-block {
    margin-top: 100px;
  }

  .footer-privacy-item {
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
  }
}

/* desktop  */

@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0;
  }

  .footer-menu-section {
    flex-direction: row;
    gap: 121px;
  }

  .footer-privacy-block {
    margin-top: 125px;
    justify-content: space-between;
  }
}
