/* HERO */

.hero {
  background-color: #576f35;
  margin-right: auto;
  margin-left: auto;
}

.hero-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: #fbfbfb;
  max-width: 335px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-imeage {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url('/img/hero-mob-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 370px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-imeage {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url('/img/hero-mob-img@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-imeage {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url('/img/hero-tab-img.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-imeage {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url('/img/hero-tab-img@2x.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .hero-imeage {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url('/img/hero-desk-img.jpg');
    min-width: 650px;
    min-height: none;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-imeage {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url('/img/hero-desk-img@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero-text-wrap {
    padding-top: 122px;
    padding-bottom: 50px;
    padding-right: 32px;
    padding-left: 32px;
    align-items: flex-start;
    gap: 25px;
  }

  .hero-title {
    font-size: 76px;
    max-width: 704px;
    margin-bottom: 0;
  }

  .hero-text {
    font-size: 16px;
    max-width: 603px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    font-size: 16px;
    max-width: 472px;
  }

  .hero-title {
    font-size: 76px;
    max-width: 502px;
  }

  .hero-text-wrap {
    padding-top: 238px;
    padding-left: 100px;
    padding-right: 28px;
    align-items: center;
    align-items: flex-start;
    gap: 128px;
  }

  .hero {
    display: flex;
  }

  .hero-container {
    display: flex;
  }
}
