/* how-it-works */

.how-it-works-container {
  width: 100%;
}

.how-it-works {
  background-color: #576f35;
  padding-top: 0;
}

.how-red-back {
  width: 100%;
  background-image: linear-gradient(#7a3145, #7a3145);
  padding: 40px 0;
}

.how-img-wrap {
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.how-img-wrap::after {
  content: '';
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3));
}

.how-img {
  border-radius: 30px;
}

.how-bottom-wrap {
  background-image: linear-gradient(#576f35, #576f35);
  padding-top: 80px;
}

.how-container {
  margin: 0 auto;
  width: calc(100% - 40px);
}

.how-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  max-width: 335px;
  margin-bottom: 20px;
}

.how-title span {
  color: rgba(251, 251, 251, 0.3);
}

.how-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  max-width: 335px;
  margin-bottom: 40px;
}

.how-item {
  padding: 12px 24px;
  background: #fbfbfb;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.how-item:last-child {
  margin-bottom: 0;
}

.how-num-border {
  width: 52px;
  height: 52px;
  background-color: rgba(122, 49, 68, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-num-wrap {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #7a3145;
  border-radius: 50%;
  box-sizing: content-box;
}

.how-item-num {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.how-item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.how-two-child {
  margin-right: 35px;
}

.how-item-text span {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 375px) {
  .how-container {
    width: 335px;
  }

  .how-img-wrap {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .how-red-back {
    padding: 100px 0;
  }

  .how-img-wrap {
    width: 640px;
  }

  .how-bottom-wrap {
    padding-top: 100px;
  }

  .how-container {
    width: 450px;
    padding: 0;
  }

  .how-title {
    font-size: 32px;
    max-width: 450px;
    margin-bottom: 25px;
  }

  .how-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 450px;
    margin-bottom: 50px;
  }

  .how-item-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .how-it-works {
    padding: 0;
  }

  .how-it-works-container {
    display: flex;
    justify-content: center;
  }

  .how-bottom-wrap {
    width: 630px;
    padding: 100px;
    display: flex;
    justify-content: end;
  }

  .how-red-back {
    width: 630px;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: start;
  }

  .how-img-wrap {
    max-width: 430px;
    margin-left: auto;
    margin-right: 0;
  }

  .how-tree-child {
    margin-right: 20px;
  }
}
